@import 'tailwindcss';
@plugin "tailwindcss-animate";
@theme {
  --container-padding: 15px;
  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 960px;
  --screen-xl: 1200px;
  --font-primary: 'JetBrains Mono', monospace;
  --color-primary: #1c1c22;
  --color-accent: #00ff99;
  --color-accent-hover: #00e187;

  --animation-accordion-down: accordion-down 0.2s ease-out;
  --animation-accordion-up: accordion-up 0.2s ease-out;
}
.container {
  padding-inline: var(--container-padding);
}

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

body {
  @apply font-primary bg-primary leading-loose text-white;
}

.h1 {
  @apply text-[48px] leading-[1.1] font-semibold xl:text-[80px];
}

.h2 {
  @apply text-[36px] leading-[1.1] font-semibold xl:text-[48px];
}

.h3 {
  @apply text-[20px] leading-[1.1] font-semibold xl:text-[24px];
}

button {
  @apply cursor-pointer;
}

.text-outline {
  -webkit-text-stroke: 1px #fff;
}

.text-outline-hover {
  -webkit-text-stroke: 1px #00ff99;
}
